.mc-dates {
    padding: 24px;
}

.mc-dates-pick {
    display: inline-block;
    vertical-align: top;
}


.mc-dates-range {
    font-size: 12px;
}

.mc-dates-range>div{
    display: inline-block;
    vertical-align: top;
    color: #999;
    margin-right: 12px;
    cursor: pointer;
}
